<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTL_comicapp"
        tools:targetApi="31">
        <activity
            android:name=".TagAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".database.DbHelper"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Chitiet"
            android:exported="false" />
        <activity
            android:name=".object.TruyenTranh"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Adapter.TruyenTranhAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" /> <!-- Đặt LoginActivity làm màn hình khởi động -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".LogoutActivity"
            android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>